﻿table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse; /*avoids duplicate adjacent borders in table*/
    /*if we have a reset .css, this is already set for us.*/
}
table {
    margin:auto; /*text-align center but that would only center text inside cell*/
    max-width: 100%;
    width:100%;
}
th, td {
    color:black;
    padding: .3em;
    text-align:center;
    font-weight: bold;
}
tbod th, tbody td {
    color:midnightblue;
    padding: .3em;
    text-align:center;
    font-weight: bold;
}
thead, tfoot{
    background-color:white;
    opacity: 1.3; /*adds transparency*/
}
