﻿@model IEnumerable<Team.Compile.Data.Cours>

@{
    ViewBag.Title = "Index";
}
<link href="~/Scripts/custom.css" rel="stylesheet" />
<h2>Index</h2>

<h1 style="font-size:30px; color:black;">Course Schedule</h1>
<table>
    <thead>
        <tr>
            <th>Course</th>
            <th>Instructor</th>
            <th>Dates</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Anger Management</td>
            <td>Stryfe</td>
            <td>Every Monday. Starting March 19.</td>
            <td>7:30pm - 9:00pm</td>
        </tr>
        <tr>
            <td>Nuclear Physics</td>
            <td>Dr. Manhattan</td>
            <td>Every Other Tuesday. Starting March 20.</td>
            <td>7:30pm - 8:00pm</td>
        </tr>
        <tr>
            <td>CSI</td>
            <td>Rorschach</td>
            <td>Daily</td>
            <td>7:30pm - 9:00pm</td>
        </tr>
        <tr>
            <td>Wishful Thinking</td>
            <td>Sir Jim Jaspers</td>
            <td>Whenever You Want To Join</td>
            <td>Jim Destroyed Space/Time</td>
        </tr>
        <tr>
            <td>Drivers ED</td>
            <td>The Big Wheel</td>
            <td>Saturdays</td>
            <td>4:30pm - 6:30pm</td>
        </tr>
        <tr>
            <td>Cosmic Beings and You</td>
            <td>Spectre</td>
            <td>Fridays</td>
            <td>2:00pm - 6:00pm</td>
        </tr>
        <tr>
            <td>What is Energy</td>
            <td>Gambit</td>
            <td>Every Other Wednesday</td>
            <td>5:30pm - 7:00pm</td>
        </tr>
        <tr>
            <td>Cards With a Pro</td>
            <td>Gambit</td>
            <td>Nightly</td>
            <td>10:30pm - 3:00am</td>
        </tr>
        <tr>
            <td>History</td>
            <td>Juggernaut</td>
            <td>Saturdays</td>
            <td>6:00pm - 8:00pm</td>
        </tr>
        <tr>
            <td>Speak with Dolphins</td>
            <td>Lobo</td>
            <td>Thursdays</td>
            <td>1:30pm - 7:30pm</td>
        </tr>
        <tr>
            <td>Self Defense</td>
            <td>Batman</td>
            <td>Put a Light in a Cloud on Saturday</td>
            <td>3:00pm - 5:00pm</td>
        </tr>
    </tbody>



</table>








<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th></th>
    </tr>

<<<<<<< HEAD
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
            </td>
        </tr>
    }
=======
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
                {@Html.ActionLink("Edit", "Edit", new { id = item.CourseId })}
            @if (User.IsInRole("Admin") || (User.IsInRole("Super Hero")))
                {@Html.ActionLink("Details", "Details", new { id = item.CourseId })}
            @if (User.IsInRole("Admin"))
                {@Html.ActionLink("Delete", "Delete", new { id = item.CourseId })}
        </td>
    </tr>
}
>>>>>>> dbbb81786571532669444a57adde0ff35c3b154c

</table>
